.hljs ul {
  list-style: decimal;
  margin: 0 0 0 40px !important;
  padding: 0
}

.hljs li {
  list-style: decimal-leading-zero;
  border-left: 1px solid #111 !important;
  padding: 2px 5px !important;
  margin: 0 !important;
  line-height: 14px;
  width: 100%;
  box-sizing: border-box
}

.hljs li:nth-of-type(even) {
  background-color: rgba(255, 255, 255, .015);
  color: inherit
}

.hljs .hljs-button {
  backdrop-filter: blur(4px);
  color: #333;
  font-weight: 600;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
  box-shadow: none;
}

strong {
  color: chocolate;
}