@import "../common.scss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.carousel {
  width: 560px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  box-sizing: content-box;
}
.carousel-before {
  white-space: pre;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0px;
  transform: translateY(100%);
  transition: 600ms ease-in-out;
  background-color: rgba(0,0,0,.55);
  color: #fff;
  font-weight: 600;
  z-index: 2;
  font-size: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px 10px 5px 5px;
}

.onlycss-carousel {
  @extend .carousel;
  border-radius: 10px;
  margin-top: 50px;

  .control-visible {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
    z-index: 2;

    label {
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      margin: 0 3px;
      cursor: pointer;
      border: 2px solid #fff;
      transition: 200ms;
    }
  }

  input[type="radio"] {
    position: relative;

    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}):checked {
        & ~ .control-visible label:nth-of-type(#{$i}) {
          background-color: #999;
        }
        & ~ .image {
          transform: translateX(calc(-100% * #{$i - 1}));
        }
      }
    }
  }


  .image {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 600ms ease-in-out;

    &:nth-of-type(2) {
      left: 100%;
    }
    &:nth-of-type(3) {
      left: 200%;
    }
    &:nth-of-type(4) {
      left: 300%;
    }
  }
}

.sectcut-carousel {
  margin: 60px 0;
  @extend .carousel;
  border-radius: 5px;


  &::before {
    content: "3D 切割轮播图 demo \A Lorem ipsum dolor sit amet consectetur, adipisicing elit.";
    @extend .carousel-before;
  }

  &:hover::before {
    transform: none;
  }

  .image-item {
    width: 20%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s;
    position: absolute;

    .image {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
    }
  }
}

.keyframe-carousel {
  @extend .carousel;
  display: flex;
  border-radius: 10px;
  justify-content: flex-start;

  &::before {
    content: "keyframes 动画轮播图 demo \A Lorem ipsum dolor sit amet consectetur, adipisicing elit.";
    @extend .carousel-before;
  }

  &:hover::before {
    transform: none;
  }

  .image-item {
    width: 60px;
    height: 100%;
    margin-right: 10px;
    border-radius: 30px;
    background-size: cover;
    animation: swiper 16s infinite;

    --expand-width: 350px;
    --shrink-width: 60px;
    --expand-radio: 10px;
    --shrink-radio: 30px;

    &:last-child {
      margin: 0;
    }
  }

  @keyframes swiper {
    0% {
      width: var(--shrink-width);
      border-radius: var(--shrink-radio);
    }
    6% {
      width: var(--expand-width);
      border-radius: var(--expand-radio);
    }
    26% {
      width: var(--expand-width);
      border-radius: var(--expand-radio);
    }
    38% {
      width: var(--shrink-width);
      border-radius: var(--shrink-radio);
    }
    100% {
      width: var(--shrink-width);
      border-radius: var(--shrink-radio);
    }
  }
}