@import "../common.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ddd;
  height: 100vh;
}

.random {
  display: flex;
  user-select: none;
  align-items: flex-end;
  padding: 50px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 4px 8px #ccc;

  &::before {
    content: attr(data-title);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    font-weight: 600;
    color: #666;
    font-size: 18px;
  }

  &-item {
    justify-content: center;
    position: relative;
    width: 35px;
    background-color: rgb(158, 207, 224);
    margin: 5px;

    span {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 0;
      margin: auto;
      color: #666;
      font-weight: 600;
    }
  }

  .move-right,
  .move-left,
  .checking {
    background-color: #D24E77;
  }
  .move-left {
    animation: move-left 300ms forwards;
  }
  .move-right {
    animation: move-right 300ms forwards;
  }
  .done {
    background-color: rgb(253, 148, 10);
  }
}

@keyframes move-left {
  0% { left: 0; }
  40% { left: 0; }
  100% { left: -45px; }
}
@keyframes move-right {
  0% { left: 0; }
  40% { left: 0; }
  100% { left: 45px; }
}